body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 224, 236);

}

h1 {
    color: white;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}

li:first-letter {
    text-transform: capitalize;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.weather-app {
    background-color: rgba(61, 7, 56, 0.89);
    padding: 20px;
    border: 6px solid #dadde1;
    border-radius: 10% / 17%;

}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: white;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.weather-temperature .active {
    color: white;
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: white;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}

.weather-forecast-temperatures {
    font-size: 13px;
}

.btn-color {
    background-color: rgb(10, 139, 224);
}

.font-change {
    font-size: 14px;
}